* {
    margin: 0;
}

header {
    height: 70px;
    width: 100%;
    background-color: orange;
}

main {
    min-height: 100vh;
    display: flex;
    background-color: grey;
}

footer {
    height: 30px;
    background-color: pink;
}
