* {
    box-sizing: border-box;
}

body {
    background-color: dimgrey;
    color: white;
}

header {
    padding: 10px;
    margin: 100px;
    background-color: lightgrey;
    border: 1px dashed black;
    height: 70px;
}

#logo {
    height: 50px;
    width: 50px;
    background-color: orange;
    float: left;
}

#menu {
    height: 50px;
    width: 50px;
    background-color: pink;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
}

.container {
    width: 100vw;
    height: 500px;
    position: relative;
    text-align: center;
}

h3:nth-child(1) {
    top: 0;
    left: 0;
}

h3:nth-child(2) {
    top: 0;
    right: 0;
}

h3:nth-child(3) {
    bottom: 0;
    left: 0;
}

h3:nth-child(4) {
    bottom: 0;
    right: 0;
}

img {
    width: 300px;
    position: fixed;
    top: 300px;
    left: 200px;
    z-index: 1;
}
