* {
}

body {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: repeat(4, 200px) 1fr;
    gap: 5px;
}

.bigbox-grey {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}
.bigbox-black {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}
.bigbox-blue {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}
.bigbox-purple {
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.smallbox-orange {
    background-color: orange;
    height: 100px;
    width: 100px;
    grid-column: 2 / 3;
}

.smallbox-yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.smallbox-green {
    background-color: green;
    height: 100px;
    width: 100px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.smallbox-pink {
    background-color: pink;
    height: 100px;
    width: 100px;
    grid-column: 1 / 2;
}
