/* body {
    background-color: aqua;
} */

h2 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.frame {
    border: blue 1px solid;
    box-shadow: 0 4px 8px 0 rgba(53, 64, 99, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    flex: 0 0 25%;
    margin: 10px;
}

.quote {
    margin-left: 10px;
    color: blue;
    font-style: italic;
}
img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: 10px;
}
